*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f4f5f8;
}
.sidebar {
  box-sizing: border-box;
  width: 240px;
  height: 1000px;
  left: 0;
  background-color: #1B2131;
  position: relative;
}
.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  top: 0;
  background-color: red;
  position: relative;
}
